.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.gradient-border-button {
  position: relative;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #152543; /* Updated dark blue background */
  border: none;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  overflow: hidden; /* Ensures no overflow outside the border radius */
}

.container_background{
  background: radial-gradient(circle at center bottom, #162b56, #101010 50%);
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.container {
  display: flex;  /* Establishes a flex container */
  align-items: center;  /* Centers vertically in the container */
  justify-content: center;  /* Centers horizontally in the container */
  height: 10vh;  /* Takes full viewport height */
  width: 100%;  /* Takes full viewport width */
}
.border-box {
  width: 200px;
  height: 35px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 16px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #152543, #152543), linear-gradient(90deg, #202c6a, #919fe5);
  display: flex; /* Flexbox inside the border-box */
  align-items: center; /* Center content vertically inside the box */
  justify-content: center; 
}

.carousel_background{
  background: #101010;
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 10px;

}




